body {
    background: hsl(212, 45%, 89%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: hsl(218, 44%, 22%);
    height: 100vh;
    font-size: 15px;
    font-style: "outfit", "sans-serif";
  }

  .container {
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 18rem;
    inset: 0;
    padding: 15px;
    border-radius: 15px;
  }

  img {
    position: relative;
    border-radius: 10px;
    max-width: full;
  }

  p {
    color: hsl(220, 15%, 55%);
  }
